
body {
  font-family: 'Roboto';
}

#controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.control {
  width: auto;
  display: inline-block;
  margin: 0 20px;
}

.control label {
  display: block;
}

input[type=range] {
  width: 300px;
}