
body {
  font-family: 'Roboto';
  margin: 0;
  overflow-x: hidden;
}

#controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
}

.control {
  width: auto;
  display: inline-block;
  margin: 0 20px;
}

.control label {
  display: block;
}

input[type=range] {
  width: 300px;
}

canvas {
  background: url('../mandelbrot.png') no-repeat;
  background-size: cover;
}